#editPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 450px) {
        align-items: unset;
    }

    #heading {
        width: 100%;
        display: flex;
        justify-content: center;
        letter-spacing: 0.6em;
        padding: 1em;
        position: relative;
    }

    #heading::after {
        content: '';
        z-index: -1;
        position: absolute;
        background: linear-gradient(to right, white, aqua, white);
        width: 50%;
        height: 0.5em;
        bottom: 30%;
    }

    #dataField {
        width: 85%;
        margin: 2em 2em 0em 2em;
        resize: none;
        min-height: 50vh;
        line-height: 1.4em;
        font-size: 1em;
        border: none;

        &::placeholder {
            text-align: center;
        }

        &:focus {
            outline: none;
        }
    }

    #buttonDiv {
        width: 100%;
        padding: 0 10%;
        height: 2em;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media(max-width: 450px) {
            width: unset;
        }

        .btn {
            height: 100%;
            width: 7em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 10px;
        }

        .btn-discard {
            box-shadow: 0px 0px 10px red, 0px 0px 10px rgba(red, 0.8) inset;
            color: red;

            &:focus {
                color: white;
                background-color: red;
            }
        }

        .btn-save {
            box-shadow: 0px 0px 10px #1573ff, 0px 0px 10px rgba(#1573ff, 0.8) inset;
            color: #1573ff;

            &:focus {
                background-color: #1573ff;
                color: white;
            }
        }
    }
}

@media (min-width: 600px) {
    #buttonDiv {
        width: 50% !important;
    }
}