* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body, #root {
    height: 100%;
}

.container {
    height: 100%;

    .app-wrapper {
        height: 100%;

        #header {
            background-color: aliceblue;
            padding: 1em;
            display: flex;
            align-items: center;
            height: 8%;
            
            span {
                font-size: large;
                letter-spacing: 10px;
            }
        }
    }
}